sources:
  kafka_logs:
    type: kafka
    bootstrap_servers: "<KAFKA_HOST>:9092"
    group_id: "vector-consumer"
    topics:
      - "logs"
    sasl:
      enabled: true
      mechanism: "PLAIN"
      username: "bob"
      password: "changeme"
    decoding:
      codec: "json"

sinks:
  opensearch:
    type: "elasticsearch"
    inputs: ["kafka_logs"]
    endpoints:
      - "http://<OPENSEARCH_HOST>:9200"
    api_version: "v8"
    mode: "bulk"
    bulk:
      index: "applogs-%Y.%m.%d"
    healthcheck:
      enabled: false
    compression: "none"
