[Unit]
Description=Apache Kafka (KRaft, SASL_PLAINTEXT)
Documentation=https://kafka.apache.org/documentation/
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
Environment="KAFKA_HEAP_OPTS=-Xmx256M -Xms256M"
Environment="KAFKA_OPTS=-Djava.security.auth.login.config=/home/ubuntu/kafka/config/kafka_server_jaas.conf"
ExecStart=/home/ubuntu/kafka/bin/kafka-server-start.sh /home/ubuntu/kafka/config/server.properties
ExecStop=/home/ubuntu/kafka/bin/kafka-server-stop.sh
Restart=on-failure
RestartSec=10
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
